@use '../../variables' as v;

notifications-page-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media only screen and (max-width: 1100px) {
        width: 100vw;
        flex-direction: column;
    }

    notifications-page {
        width: 55vw;
        background-color: v.$white;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 2fr 4fr;

        @media only screen and (max-width: 1500px) {
            width: 70vw;
        }
        
        @media only screen and (max-width: 1100px) {
            padding: 0;
            height: 100%;
            width: 100%;
            grid-template-columns: none;
            flex-grow: 1;
        }
        
        .messages-section-open {
            background-color: v.$minty-blue;
            height: 40rem;
            padding: 0.9rem 0.5rem 0.9rem 0.9rem;
            border-right: 2px solid v.$darkest-blue;

            @media only screen and (max-width: 1100px) {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 60;
                overflow: auto;
                transition: all 0.2s ease-in-out;
                transform: translate(0);
            }

            page-top {
                display: flex;
                justify-content: space-between;

                page-title {
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 1rem;
                    margin-left: 5px;

                    img {
                        transform: scale(1.5);
                    }

                    p {
                        color: v.$white;
                        font-family: Inter;
                        font-size: 1.9rem;
                        font-style: normal;
                        font-weight: 700;
                        text-align: center;
                    }
                }

                close-btn {
                    display: none;

                    @media only screen and (max-width: 1100px) {
                        display: block;
                        transform: scale(1.2);
                    }
                }
            }

            messages-selection {
                display: flex;
                flex-direction: column;
                height: 35rem;
                gap: 7px;
                overflow-y: scroll  ;

                notification-item {
                    border-left: solid 2px v.$blue-3;
                    padding: 10px 5px 10px 10px;
                    overflow: hidden;
                    width: 100%;
                    min-height: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    notification-message {
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        color: v.$darkest-blue; 
                        max-height: 24px;
                        overflow: hidden;
                        position: relative;
                    }

                    notification-user {
                        font-size: 0.7rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        color: v.$darkest-blue;
                        margin-left: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: v.$minty-blue;
                }

                &::-webkit-scrollbar-thumb {
                    background: v.$white;
                    background-clip: padding-box;
                    border-left: 6px solid v.$minty-blue;

                    &:hover {
                        background-color: v.$lighter-grey;
                    }
                }
            }
        }
        
        .messages-section-hidden {
            background-color: v.$minty-blue;
            height: 40rem;
            padding: 0.9rem 0.5rem 0.9rem 0.9rem;
            border-right: 2px solid v.$darkest-blue;

            @media only screen and (max-width: 1100px) {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 10;
                overflow: auto;
                transition: all 0.1s ease-in-out;
                transform: translate(-100%);
            }

            page-top {
                display: flex;
                justify-content: space-between;

                page-title {
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 1rem;
                    margin-left: 5px;

                    img {
                        transform: scale(1.5);
                    }

                    p {
                        color: v.$white;
                        font-family: Inter;
                        font-size: 1.9rem;
                        font-style: normal;
                        font-weight: 700;
                        text-align: center;
                    }
                }

                close-btn {
                    display: none;

                    @media only screen and (max-width: 1100px) {
                        display: block;
                        transform: scale(1.2);
                    }
                }
            }

            messages-selection {
                display: flex;
                flex-direction: column;
                height: 35rem;
                gap: 7px;
                overflow-y: scroll  ;

                notification-item {
                    border-left: solid 2px v.$blue-3;
                    padding: 10px 5px 10px 10px;
                    overflow: hidden;
                    width: 100%;
                    min-height: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    notification-message {
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        color: v.$darkest-blue; 
                        max-height: 24px;
                        overflow: hidden;
                        position: relative;
                    }

                    notification-user {
                        font-size: 0.7rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        color: v.$darkest-blue;
                        margin-left: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: v.$minty-blue;
                }

                &::-webkit-scrollbar-thumb {
                    background: v.$white;
                    background-clip: padding-box;
                    border-left: 6px solid v.$minty-blue;

                    &:hover {
                        background-color: v.$lighter-grey;
                    }
                }
            }
        }

        conversation-section {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 40rem;
            background-color: v.$medium-grey;

            @media only screen and (max-width: 1100px) {
                height: 100%;
            }

            user-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 1rem;
                width: 100%;
                background-color: v.$blue-3;
                height: 4rem;
                color: v.$white;
                font-family: Inter;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                border-bottom: 2px solid v.$darkest-blue;

                .menu {
                    display: none;
                }

                @media only screen and (max-width: 1100px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    text-align: center;
                    padding: 0;
                    white-space: nowrap;

                    .menu {
                        display: block;
                        transform: scale(0.8);
                    }
                }
            }

            conversation-messages {
                flex-grow: 1;
                display: flex;
                flex-direction: column-reverse;
                gap: 10px;
                padding: 1rem 0;
                height: 32.5rem;
                overflow-y:scroll;
                background-color: v.$medium-grey;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: v.$medium-grey;
                }

                &::-webkit-scrollbar-thumb {
                    background: v.$white;
                    background-clip: padding-box;
                    border-right: 2px solid v.$medium-grey;
                    border-left: 2px solid v.$medium-grey;
                    border-top: 4px solid v.$medium-grey;
                    border-bottom: 4px solid v.$medium-grey;
                }
            }

            new-message-section {
                width: 100%;
                background-color: v.$minty-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3.5rem;
                padding: 1rem;

                textarea {
                    background-color: v.$white;
                    border-radius: 2rem 0 0 2rem;
                    flex-grow: 1;
                    height: 2.5rem;
                    padding: 7px 3px 7px 1rem;
                    line-height: 150%;
                    font-size: 1rem;
                    font-family: Inter;
                    resize: none;
                    border: 0px;
                    border-right: 1px solid v.$light-grey;

                    &::placeholder {
                        font-weight: 500;
                        font-family: Inter;
                    }

                    &:focus {
                        outline: none;
                    }

                    &::-webkit-scrollbar {
                        width: 13px;
                    }

                    &::-webkit-scrollbar-track {
                        background: v.$white;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: v.$medium-grey;
                        background-clip: padding-box;
                        border-right: 2px solid v.$white;
                        border-left: 2px solid v.$white;
                        border-top: 4px solid v.$white;
                        border-bottom: 4px solid v.$white;
                    }
                }

                send-message-btn {
                    background-color: v.$white;
                    height: 2.5rem;
                    width: 3rem;
                    border-radius: 0 2rem 2rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        margin-right: 7px;
                    }
                }
            }

        }
    }
}

login-request {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 1.5rem;
    margin-bottom: 3rem;
    
    p {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: v.$white;
        text-align: center;
    }

    login-btn {
        font-size: 1.5rem;
        color: v.$white;
        padding: 10px 65px;
        background-color: v.$minty-blue;
        border-radius: 2rem;
        border: 2px solid v.$minty-blue-darker;
        font-weight: 600;
        transition: all 0.2s ease-in;

        &:hover {
            background-color: v.$minty-blue-darker;
            cursor: pointer;
        }
    }
}