@use '../../../variables' as v;

password-recovery-verification {
    width: 35rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    padding: 3px 7px;
    background-color: v.$white;
    border-radius: 1rem;
    border: 3px solid v.$minty-blue-darker;

    title-and-close {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: v.$minty-blue-darker;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        close-btn {
            margin-top:4px;

            img:hover {
                cursor: pointer;
            }
        }
    }

    info-text {
        color: v.$dark-grey;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding: 5px;
    }

    password-recovery-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        padding: 0 5px;
        margin-top: 5px;

        form-title {
            color: v.$minty-blue-darker;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        input-container {
            position: relative;
            margin-left: 5px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            
            img {
                position: absolute;
                top: 0;
                height: 100%;
                transform: scale(0.7);
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
            }

            input {
                border-radius: 0.5rem;
                border: 1.5px solid v.$minty-blue-darker;
                background: v.$minty-blue;
                padding: 9px;
                width: 100%;
                padding-left: 2.4rem;
                box-shadow: 0 5px 10px rgba(0,0,0,0.10);

                
                &:focus {
                    outline-width: 9px;
                    outline-color: v.$minty-blue-darker;
                    
                }

                &::placeholder {
                    font-size: 0.9rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: v.$dark-grey;
                }
            }
        }

        send-btn {
            width: 100%;
            display: flex;
            margin-left: 5px;

            p {
                color: v.$white;
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding: 8px 16px;
                flex-shrink: 1;
                background-color: v.$minty-blue;
                border: 2px solid v.$minty-blue-darker;
                border-radius: 1rem;
                transition: all 0.2s ease-in;
                box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

                &:hover {
                    cursor: pointer;
                    background-color: v.$minty-blue-darker;
                }
            }
        }

        validation-message {
            margin-left: 10px;
            font-size: 0.9rem;
            color: v.$error-red;
        }
    }
    
    verification-code-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input-container {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            padding: 0 10px;
            margin-top: 10px;
            
            form-text {
                color: v.$dark-grey;
                font-size: 1.3rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                white-space: nowrap;
            }

            input {
                background-color: v.$light-grey;
                border-radius: 5px;
                border: 1px solid v.$dark-grey;
                outline: none;
                font-size: 1.8rem;
                padding: 3px;
                width: 7.2rem;
                letter-spacing: 0.1rem;
                color: v.$white;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        verify-btn {
            background-color: v.$medium-grey;
            border: 2px solid v.$dark-grey;
            border-radius: 1.3rem;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
            margin: 3px 0 10px 10px;
            transition: all 0.1s ease-in;
            
            &:hover {
                cursor: pointer;
                background-color: v.$dark-grey;
            }

            p {
                padding: 7px 30px;
                font-size: 1.2rem;
                color: v.$white;
            }
        }
    }
}