@use '../../variables' as v;

my-products-page {
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 1;
    padding: 1rem 0;

    @media only screen and (max-width: 1500px) {
        width: 60%;
    }

    @media only screen and (max-width: 1100px) {
        width: 100%;
        padding: 0 10px;
        margin-top: 1rem;
    }

    mp-title {
        display: flex;
        gap: 10px;
        align-items: center;

        p {
            color: v.$white;
            font-family: Inter;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    sell-product-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        background-color: v.$medium-grey;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
        color: v.$white;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    my-products {

        .createProducts {
            color: v.$white;
            font-size: 1.5rem;
            text-align: center;
            margin-top: 4rem;
        }
    }
}

seller-request {
    font-size: 1.8rem;
    color: v.$white;
    font-weight: 550;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    start-selling-btn {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: v.$minty-blue;
        color: white;
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.10);
        border-radius: 50px;

        @media only screen and (max-width: 1100px) {
            height: 2rem;
        }

        &:hover {
            cursor: pointer;
            background-color: v.$minty-blue-darker;
        }


        p {
            font-family: Inter;
            font-size: 1.7rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 1rem 0.8rem;

            @media only screen and (max-width: 1100px) {
                font-size: 1.2rem;
                margin: 0.5rem 1rem;
            }
        }
    }
}