@use '../../../../variables.scss' as v;

home-slider {
    width: 100%;
    position: relative;
    
    slider-top {
        width: 100%;
        height: 31rem;
        position: relative;
        display: block;

        @media only screen and (max-width:1100px) {
            height: 45vh;
        }

        @media only screen and (max-width:750px) {
            height: 33vh;
        }

        .prevBtn,
        .nextBtn {
            cursor: pointer;
            position: absolute;
            height: 3rem;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: v.$white;
            opacity: 0.5;
            border: none;
            border-radius: 3px;

            @media only screen and (max-width:1100px) {
                height: 4rem;
                width: 4rem;
            }

            @media only screen and (max-width:750px) {
                height: 3rem;
                width: 3rem;
            }

            .sliderBtnArrow {
                height: 90%;
            }
        }

        .prevBtn {
            left: 10px;
            top: calc(50% - 1.5rem);
            z-index: 10;
            transform: rotate(180deg);
        }

        .nextBtn {
            right: 10px;
            top: calc(50% - 1.5rem);
            z-index: 10;
        }

        .slider-container {
            width: 100%;
            height: 31rem;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width:1100px) {
                height: 45vh;
            }

            @media only screen and (max-width:750px) {
                height: 33vh;
            }

            
            .slide {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: all 0.25s ease-in-out;
            }

            .slide img {
                height: 31rem;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;

                @media only screen and (max-width:1100px) {
                    height: 45vh;
                }

                @media only screen and (max-width:750px) {
                    height: 33vh;
                }
            }

            .slide h1 {
                font-size: 5rem;
            } 
        }
    }

    slider-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 100%;
        background-color: v.$dark-grey;
        gap: 7px;

        @media only screen and (max-width:1100px) {
            background-color: transparent;
            position: absolute;
            bottom: 0;
        }

        .sliderNavBtn,
        .sliderNavBtnActive {
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            outline: 1px solid v.$minty-blue;
        }

        .sliderNavBtn {
            background-color: v.$white;

        &:hover {
                cursor: pointer;
            }
        }

        .sliderNavBtnActive {
            background-color: v.$minty-blue;
        }

    }
}
