$light-grey: #838383;
$white: #F5F5F5;
$minty-blue: #64C0D4;
$dark-grey: #373737;
$minty-blue-darker: #378EA1;
$autocomplete-result: #6CB0BF;
$autocomplete-result-hover: #4E8490;
$lighter-grey: #D6D6D6;
$darker-grey: #303030;
$blue-3: #388D9F;
$minty-blue-hover: #9ACDD8;
$medium-grey: #4E4E4E;
$error-red: #C80000;

