@use './variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background: v.$light-grey;
    position: relative;
    min-height: 100vh;

    &::after {
        content: '';
        height: 6.5rem;
        display: block;
    }
}

li {
    list-style-type: none;
}

content-wrapper {
    display: block;
    width: 100vw;
    display: flex;
    justify-content: center;
}

