@use './variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background: v.$light-grey;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &::after {
        content: '';
        height: 6.5rem;
        display: block;
    }

    #root {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

li {
    list-style-type: none;
}

content-wrapper {
    max-width: 100vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

