@use './variables' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background: v.$light-grey;
    position: relative;
    min-height: 200vh;
}

li {
    list-style-type: none;
}

content-wrapper {
    display: block;
    width: 100vw;
    display: flex;
    justify-content: center;
}

