@use '../../../../variables' as v;

new-product {
    background-color: v.$lighter-grey;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem 1rem;

    np-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;

        np-title {
            display: flex;
            gap: 10px;
            align-items: center;

            p {
                color: v.$dark-grey;
                font-family: Inter;
                font-size: 2.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .close {
            transform: scale(1.5);

            &:hover{
                cursor: pointer;
            }
        }


    }

    form-single {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        
        p {
            color: v.$dark-grey;
            font-family: Inter;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        input {
            margin: 0 1rem;
            border-radius: 10px;
            background-color: v.$light-grey;
            padding: 7px;
            color: v.$white;
            font-family: Inter;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline: none;
            border: 2px solid v.$dark-grey;

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                color: v.$white;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        form-title {
            display: flex;
            flex-direction: column;
            gap: 3px;

            .small {
                font-size: 0.9rem;
            }
        }

        .select-options {
            margin: 0 1rem;
            height: calc(9rem + 6px);
            background-color: v.$dark-grey;
            border-radius: 10px;
            border: 2px solid v.$dark-grey;
            display: grid;
            grid-template-rows: 1fr 1fr;
            padding: 1px 1px 1px 1px;
            scroll-snap-type: y mandatory;

            p {
                color: v.$white;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 1rem;
                background-color: v.$light-grey;
                transition: background 0.05s ease-in-out;
                user-select: none;
                white-space: nowrap;
                scroll-snap-align: start none;

                &.delivery {
                    height: 4.5rem;
                }

                &.category {
                    height: 3rem;
                }

                &.selected {
                    background-color: v.$dark-grey;
                }
                
                &:first-child {
                    border-radius: 7px 7px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 7px 7px;
                }
                

                &:hover {
                    cursor: pointer;
                }
            }

            &.scrollable {
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-track {
                    background: v.$dark-grey;
                    margin: 5px 0;
                }

                &::-webkit-scrollbar-thumb {
                    background: v.$white;
                    background-clip: padding-box;
                    border-right:1px solid v.$dark-grey;
                    border-left:1px solid v.$dark-grey;

                    &:hover {
                        background-color: v.$lighter-grey;
                    }
                }

                p {
                    &:first-child {
                        border-radius: 7px 0 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 0 7px;
                    }
                }
            }

        }

        added-images {
            display: flex;
            width: 100%;
            gap: 2rem;
            margin: 0 1rem;

            label {
                display: flex;
                height: 7rem;
                width: 7rem;
                background-color: v.$dark-grey;
                justify-content: center;
                align-items: center;
                border-radius: 10px;

                input {
                    display: none;
                }

                img {
                    display: block;

                    &.plus {
                        transform: scale(1.2);
                    }

                    &.added {
                        object-fit: cover;
                        height: 7rem;
                        width: 7rem;
                        border-radius: 10px;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    form-double {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}